version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: desafio-empresas-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    networks:
      - desafio-network

volumes:
  redis_data:
    driver: local

networks:
  desafio-network:
    driver: bridge
